/* Police */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* HTML */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 425px;
}

header {
    padding: 15px;
    background-color: #182029;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 10px;
}

nav ul li a {
    color: #ff5400;
    text-decoration: none;
    font-weight: 100;
}

nav ul li a:hover {
    font-weight: 700;
    text-decoration: none;
    color: #ff5400;
}

h2 {
    text-align: center;
    font-size: 2em;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #ff5400;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: overline;
    text-decoration-color: #182029;
}

h3 {
    font-size: 18px;
    color: #ff5400;
    line-height: 1.6em;
    font-weight: bold;
}

h5 {
    margin: 0;
    text-align: left;
}

a {
    text-decoration: none;
}

a:visited {
    color: #ff5400;
    text-decoration: none;
    font-weight: 100;
}

a:hover {
    text-decoration: none;
}

i {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
}

footer {
    border-top: 3px solid black;
    margin-top: 50px;
    padding: 30px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    margin-left: 10px;
}

footer ul li a {
    color: #ff5400;
    text-decoration: none;
}

footer ul li a:hover {
    font-weight: 700;
    text-decoration: none;
    color: #ff5400;
}

/* id */

#logo {
    height: 80px;
}

#flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#section {
    margin-bottom: 50px;
}

#skills-grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 15px;
    text-align: center;
    justify-content: center;
    margin-bottom: 100px;
}

#xp-grille {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#xp .fas {
    color: #ff5400;
    border: 3px solid #ff5400;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0px 0px 15px;
}

#xp h3 {
    color: #182029;
    text-decoration: overline;
}

#icone-grille {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 30px;
    text-align: center;
    justify-content: center;
}

#icone-grille .fab:hover {
    color: #ff5400;
    font-size: 4em;
}

#portfolio-grille {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 15px;
}

#meteo {
    background: #2980B9;
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    min-width: 400px;
    padding: 20px;
}

#ville {
    text-transform: capitalize;
}

#temperature {
    font-size: 4em;
}

#changer {
    background: rgba(178, 223, 251, .3);
    cursor: pointer;
}

#temoignage p {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
    font-family: monospace;
}


#parallax {
    background-image: url('images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#parallax-section {
    background-image: url('images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    display: flex;
    justify-content: center;
}

#parallax-footer {
    background-image: url('images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
}

#contact {
    margin-top: 30px;
    text-align: center;
}

#scroll_to_top {
    position: fixed;
    width: 35px;
    height: 35px;
    bottom: 50px;
    right: 50px;
    display: none;
}


#annexe a {
    display: flex;
    justify-content: center;
    height: 120px;
}

#annexe-cgv {
    margin-bottom: 100px;
}

#annexe-cgv p {
    text-align: justify;
}

#annexe-cgv h1 {
    color: #ff5400;
    font-size: 50px;
    margin: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#annexe-cgv h3 {
    color: #182029;
}

#divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#divider .fab {
    display: flex;
    color: #ff5400;
}

#divider::before {
    content: '';
    display: flex;
    height: 0.09em;
    min-width: 30vw;
    background: linear-gradient(to right, rgba(240, 240, 240, 0), #ff5400);
    margin-right: 4vh;
}

#divider::after {
    content: '';
    display: flex;
    height: 0.09em;
    min-width: 30vw;
    background: linear-gradient(to left, rgba(240, 240, 240, 0), #ff5400);
    margin-left: 4vh;
}

/* class */

.container {
    width: 1500px;
    margin: 0 auto;
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.coverer-fluid:after,
.coverer-fluid:before,
.coverer:after,
.coverer:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    display: table;
    content: none;
}

.fab {
    font-size: 50px;
    color: #182029;
}

.fas {
    font-size: 50px;
    color: #182029;
}

.texte-presentation {
    text-align: center;
}

.cards {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
}

.wrap {
    padding: 10px;
}

.progress-card {
    margin-left: 20px;
}

.progress {
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.progress-bar {
    text-align: start;
    padding-left: 15px;
    background: #ff5400;
    color: #182029;
    font-weight: 1.5rem;
    font-weight: bold;
}

.projet {
    background: black;
    border-radius: 5px;
    color: white;
    padding: 90px 25px;
    transition: all .3s;
}

.projet:hover {
    opacity: .7;
}

.projet-a {
    background: center url('images/flow_events.png');
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
}

.projet-b {
    background: center url('images/Site-lumiere.png');
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
}

.projet-c {
    background: center url('images/Site-ours.png');
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
}

.projet-d {
    background: center url('images/Site-mdlp.png');
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
}

.projet-e {
    background: center url('images/hangman.png');
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
}

.projet-f {
    background: center url('images/meteo.png');
    background-size: cover;
    box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(24, 32, 41, 0.5);
}

.temoignage-details {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-right: 200px;
}

.temoignage-photo img {
    border-radius: 50%;
    margin: 20px;
}

.temoignage-prenom {
    color: #ff5400;
    font-weight: 900;
}

.temoignage-job {
    color: #182029;
    font-weight: 700;
    font-size: .85em;
}

.bouton {
    background: #182029;
    border-radius: 5px;
    color: white;
    padding: 15px 30px;
    margin-top: 15px;
}

.bouton:hover {
    border-radius: 5px;
    color: #ff5400;
    padding: 15px 30px;
    margin-top: 15px;
    text-decoration: none;
}



/* Responsive */

@media all and (max-width: 1130px) {
    .container {
        width: 800px;
    }

    .texte-presentation {
        padding: 15px;
    }

    #skills-grille {
        grid-template-columns: repeat(1, 1fr);
        padding: 30px;
    }

    #xp-grille {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    .progress-card {
        grid-row: 2 / 4;
        grid-column: 1 / 3;
    }

    #icone-grille {
        grid-template-columns: repeat(6, 1fr);
    }

    #portfolio-grille {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media all and (max-width: 780px) {
    h2 {
        padding-bottom: 0;
        padding-top: 20px;
    }

    .container {
        width: 100%;
    }

    .texte-presentation {
        padding: 0;
        margin: 0;
    }

    #skills-grille {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    #xp-grille {
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
    }

    #icone-grille {
        grid-template-columns: repeat(4, 1fr);
    }

    #portfolio-grille {
        grid-template-columns: repeat(1, 1fr);
        padding: 50px;
    }

    #parallax-section {
        height: 150px;
    }

    #parallax-footer {
        height: 200px;
    }
}

@media all and (max-width: 425px) {
    .container {
        width: 100%;
    }

    #temoignage,
    #icone-grille,
    #parallax {
        display: none;
    }

    #xp-grille {
        grid-template-columns: repeat(1, 1fr);
    }

    .progress-card {
        grid-row: 2 / 4;
        grid-column: 1 / 3;
    }
}